
<section class="section__container banner__container">
    <div class="banner__card">
        <h4>10+</h4>
        <p>Years Experience</p>
    </div>
    <div class="banner__card">
        <h4>12k</h4>
        <p>Happy Clients</p>
    </div>
    <div class="banner__card">
        <h4>4.8</h4>
        <p>Overrall Ratings</p>
    </div>
</section>


<section class="section__container discover__container">
    <h2 class="section__header">
        Discover Peace, Culture, and Devotion with Our Temple Bus Travels
    </h2>
    <p class="section__description">
        Witness Stunning Landscapes from the Comfort of Your Bus Seat"
    </p>
    <div class="discover__grid">
        <div class="discover__card">
            <span><i class="ri-camera-lens-line"></i></span>
            <h4>Your Road, Your Story</h4>
            <p>
                Experience the freedom of travel with our comfortable and reliable
                bus trips. Enjoy stunning views along the way while relaxing in
                spacious seats. Whether it's a short trip or a long journey, our
                buses ensure a smooth and enjoyable ride.
            </p>
        </div>
        <div class="discover__card">
            <span><i class="ri-ship-line"></i></span>
            <h4>Coastal Wonders</h4>
            <p>
                Embark on a journey through the mesmerizing coastal wonders. Enjoy
                the serene beauty of pristine beaches, stunning cliffs, and
                breathtaking ocean views, all from the comfort of our bus. Let the
                coastal breeze guide you to unforgettable destinations.
            </p>
        </div>
        <div class="discover__card">
            <span><i class="ri-landscape-line"></i></span>
            <h4>Historic Landmarks</h4>
            <p>
                Explore the charm of historic landmarks on our specially curated bus
                tours. Our comfortable buses will take you through iconic sites,
                offering insights into their fascinating stories. Sit back, relax,
                and immerse yourself in the rich history that each destination
                holds.
            </p>
        </div>
    </div>
</section>